<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>276847267436-lq36ofrtdm9csm6lict9qpb6iiq4hhbi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.276847267436-lq36ofrtdm9csm6lict9qpb6iiq4hhbi</string>
	<key>API_KEY</key>
	<string>AIzaSyA_vjMdgSFhr440tpOUyumWCtiAPELTg_g</string>
	<key>GCM_SENDER_ID</key>
	<string>276847267436</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>JWGROOMS.News</string>
	<key>PROJECT_ID</key>
	<string>fir-demo-89441</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-demo-89441.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:276847267436:ios:fd672485d13eb549</string>
	<key>DATABASE_URL</key>
	<string>https://fir-demo-89441.firebaseio.com</string>
</dict>
</plist>